body {
    background-color: rgb(242, 227, 219);
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: rgb(232, 106, 51);
    margin-bottom: 15px;
}

h2 {
    color: rgb(65, 100, 74);
}

p {
    color: rgb(38, 58, 41);
    line-height: 1.6;
    font-family: 'Times New Roman', serif;
}

img.profile {
    width: 225px;
    height: 225px;
    object-fit: cover;
    border-radius: 200px;
}

img.photos {
    width: 225px;
    height: 225px;
    object-fit: cover;
}

img {
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: black;
    border-radius: 10px;
}