body {
    background-color: rgb(235, 235, 235);
    font-family: "Times New Roman", serif;
}

h1 {
    color: rgb(245, 162, 93);
    margin-bottom: 15px;
}

h2 {
    color: rgb(250, 127, 114);
    border: 2px dashed black;
    padding: 10px;
}

p {
    line-height: 1.6;
    color: rgb(56, 147, 147);
}