@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
    padding: 0;
    color: #191A23
}

div.container {
    width: 1200px;
    margin: auto;
}

div.up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

div.upimg {
    width: 180px;
}

div.choice {
    display: flex;
    align-items: center;
    gap: 38px;
    font-size: 17px;
}

button.button {
    padding: 18px 32px;
    border: 1px solid #191A23;
    border-radius: 12px;
    background: white;
    font-size: 16px;
    font-family: "Space Grotesk", sans-serif
}

div.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}

div.middleleft {
    width: 46%;
}

div.head {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.18;
}

div.par {
    margin-top: 32px;
    width: 480px;
    line-height: 1.6;
    font-size: 20px;
}

button.book {
    margin-top: 38px;
    padding: 20px 40px;
    background: #191A23;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif
}

div.middleimg {
    width: 48%;
    display: flex;
    justify-content: flex-end;
}

div.down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

div.downimg {
    height: 35px;
    opacity: 0.8;
    filter: grayscale(100%);
}